p{
    margin: 0;
}
 .content{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.search{
    margin-bottom: 15px;
    display: flex;
}
.searchBox{
    width: 500px;
    height: 40px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border: 1px solid rgba(90, 90, 90, 0.829);
    border-radius: 25px 0 0 25px; 
    outline: none;
    padding: 0 15px;
}

.searchButton{
    width: 50px;
    background-color: rgba(90, 90, 90, 0.829);
    color: white;
    border: 1px solid rgba(90, 90, 90, 0.829);
    border-radius: 0 25px 25px 0; 
}
.searchButton:hover{
    opacity: 50%;
    cursor: pointer;
}



.answer{
    border: 2px solid black;
    transition: transform 0.3s ease-in-out;
}
.answer:hover{
    cursor: pointer;
    transform: scale(1.07);
}

.pokemonImage{
    display: none;
}
.pokemonImage.display{
    display: block;
    width: 200px;
    height: 200px;
    border: 1px solid white;
}
.name{
    text-align: center;
}

.details{
    text-align: center;
}
.heading{
    display: none;
    background-color: silver;
    color: black;
    font-weight: bold;
}
/* .div{
    display: grid;
    grid-template-columns:50% 50%;
} */