/* p{
    margin: 0;
} */
 .content{
    display: flex;
    flex-direction: column;
    color: white;
 }



 /*searchbox*/
.search{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.searchBox{
    background-color: hsl(0, 0%, 0%);
    height: 40px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.829);
    border-radius: 25px 0 0 25px; 
    outline: none;
    padding: 0 15px;
    width: 500px;
}

.searchButton{
    background-color: rgba(2, 2, 2, 0.829);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.829);
    border-radius: 0 25px 25px 0; 
    width: 50px;
}
.searchButton:hover{
    opacity: 50%;
    cursor: pointer;
}



.answer{
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.card{
    transition: transform 0.3s ease; 
}
.card:hover{
    cursor: pointer;
    transform: scale(1.07);
}

.pokemonImage{
    display: none;
}
.pokemonImage.display{
    display: block;
    width: 200px;
    height: 200px;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.name{
    text-align: center;
}

.details{
    text-align: center;
    margin-bottom: 10px;
}
.heading{
    display: none;
    background-color: rgb(66, 66, 66);
    color: white;
    font-weight: bold;
}
.div{
    display: grid;
    grid-template-columns:50% 50%;
}

